.group-page {
    padding: 30px;
    color: #EEEEEE;
    font-family: sans-serif;
    background-color: #23272A;
    min-height: 100vh;
    box-sizing: border-box;
}

.header h2 {
    color: #2ECC40;
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.add-expense-btn {
    margin-bottom: 0;
    text-align: right;
    position: static;
    bottom: unset;
    right: unset;
    z-index: unset;
}

.add-expense-btn button {
    background-color: #2ECC40;
    color: #23272A;
    font-size: 18px;
    border-radius: 8px;
    padding: 9px 23px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 12px #2ecc4030;
    transition: background 0.13s, color 0.13s;
}

.add-expense-btn button:hover {
    background: #27b63f;
    color: #EEEEEE;
}

.group-members {
    display: flex;
    gap: 11px;
    margin-bottom: 27px;
    flex-wrap: wrap;
}

.member-box {
    display: flex;
    align-items: center;
    background: #25292d;
    border: 2px solid #2ECC40;
    padding: 8px 18px;
    border-radius: 9px;
    color: #EEEEEE;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 500;
    transition: border 0.15s;
}

.member-box:hover {
    border-color: #27b63f;
}

.remove {
    color: #ff6565;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    transition: background 0.13s, color 0.13s;
    padding: 1px 4px;
}

.remove:hover {
    background: #ff65651a;
    color: #fff;
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 35px;
}

.settle-btn,
.chart-btn {
    background: none;
    color: #2ECC40;
    border: 1px solid #2ECC40;
    padding: 8px 19px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.13s, color 0.13s;
}

.settle-btn:hover,
.chart-btn:hover {
    background: #2ECC40;
    color: #23272A;
}

@media (max-width: 700px) {

    .group-members {
        flex-direction: column;
        gap: 5px;
    }

    .btns {
        flex-direction: column;
        gap: 11px;
    }
}