.popup-error {
    background-color: #111;
    border: 2px solid #15cd7d;
    color: #15cd7d;
    padding: 16px 32px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 24px;
    min-width: 200px;
    max-width: 90vw;
    font-size: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.start-container {
    background-color: #0c0c15;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    text-align: center;
}

.fingerprint {
    width: 150px;
    margin-bottom: 32px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

.form input {
    padding: 12.8px;
    margin-bottom: 16px;
    background-color: #1a1a2d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

.start-btn {
    background-color: #00ff90;
    color: black;
    border: none;
    padding: 13px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.start-btn:hover {
    background-color: #00e681;
}

@keyframes popup-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}